footer {
    background-color: $white;
    color: $fontDarkGrey100;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;

    #footerWrapper {
        width: 100%;
        font-size: 16px;
        font-weight: 600;
        padding: 5vh 2vw;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        #footerLeft {
            margin-bottom: 1vh;
            #footerBrand {
                margin-bottom: 1vh;
                h4 {
                }
            }
            p {
                margin-bottom: 1vh;
            }
        }
        #footerRight {
            margin-bottom: 1vh;
        }
    }
}
