//standard settings
nav {
    z-index: 5;
    #navWrapper {
        #logoWrapper {
            -webkit-user-select: none;
            user-select: none;
            height: 40px;
            width: 150px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            z-index: 3;
            a {
                height: 100%;
                width: 100%;
                #logo {
                    background-image: url("/images/nav_logo_less_bold.svg");
                    background-repeat: no-repeat;
                    width: 100%;
                    height: 100%;
                    z-index: 4;
                    width: 100%;
                    height: 100%;
                    z-index: 99;
                }
            }
        }
        #hamburger {
            z-index: 4;
            span {
                z-index: 10;
            }
        }
        #navLinks {
            a {
                color: black;
                font-weight: 500;
                text-decoration: none;
            }
        }
    }
}
//small devices(ipad tablet and down)
@media (max-width: $breakpoint-large-tablet-1) {
    nav {
        position: fixed;
        width: 100%;
        left: 0;
        top: 0;
        background-color: $bgBlue;
        #navWrapper {
            padding: 2.5vh 5vw;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            #logoWrapper {
                height: 60px;
                width: 60px;
                a {
                    #logo {
                        background-image: url("/images/lillypad_solo.svg");
                    }
                }
            }

            #hamburger {
                -webkit-user-select: none;
                user-select: none;
                height: 40px;
                width: 60px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                z-index: 3;
                #menuToggle {
                    display: block;
                    width: 70px;
                    height: 70px;
                    position: fixed;
                    top: 1.5vh;
                    right: 4.2vw;
                    opacity: 0;
                    z-index: 99;
                    -webkit-touch-callout: none;
                }
                span {
                    display: block;
                    margin-bottom: 5px;
                    width: 40px;
                    height: 7px;
                    border-radius: 5px;
                    background-color: $white;
                    z-index: 4;

                    transform-origin: 2px 3px;
                    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
                        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
                        opacity 0.55s ease;
                }
            }
            #hamburger span:first-child {
                transform-origin: 0% 0%;
            }
            #hamburger span:nth-last-child(2) {
                transform-origin: 0% 100%;
            }
            #hamburger input:checked ~ span {
                opacity: 1;
                transform: rotate(-45deg);
                background: $white;
            }
            #hamburger input:checked ~ span:nth-last-child(3) {
                opacity: 0;
                transform: rotate(0deg) scale(0.2, 0.2);
            }
            #hamburger input:checked ~ span:nth-last-child(4) {
                transform: rotate(45deg) translate(-2px, 0px);
            }
            #hamburger input:checked ~ #navLinkWrapper {
                transform: none !important;
            }

            #navLinkWrapper {
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                top: 0;
                left: 0;
                height: 100vh;
                width: 100vw;
                z-index: 2;
                -webkit-font-smoothing: antialiased;
                /* to stop flickering of text in safari */
                transform-origin: 0% 0%;
                transform: translate(200%, -100%);
                transition: 0.5s;

                #navLinks {
                    background-color: $bgBlue;
                    height: 100%;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    margin-top: 5vh;

                    a {
                        color: $white;
                        margin: 7vh 0;
                        font-size: 30px;
                        padding-bottom: 5px;
                        border-bottom: solid 2px $white;
                        border-radius: 3px;
                    }
                }
            }
        }
    }
}
//large devices
@media (min-width: $breakpoint-large-tablet) {
    nav {
        padding: 3vh 0;

        #navWrapper {
            padding: 0 2vw;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
            #logo {
            }
            #hamburger {
                #navLinks {
                    a {
                        margin-left: 30px;
                        font-size: 24px;
                    }
                    a:hover {
                        transition: 0.1s;
                        border-bottom: solid 3px $blue;
                    }
                }
            }
            #hamburger input,
            span {
                display: none;
            }
        }
    }
}
