.errorBorder {
    border: solid 1px red;
}
#splash {
    background-color: $bgBlue;
    color: $white;

    #ctaWrapper {
        #ctaLeft {
            h2 {
            }
            p {
            }
        }
        #ctaRight {
            form {
                color: white;
                #success {
                    font-weight: 800;
                    color: black;
                }
                .errors {
                    .errorMsg {
                        margin-top: 1vh;
                        font-size: 14px;
                        font-weight: 500;
                        display: block;
                        color: $red;
                    }
                }

                label {
                    margin-top: 20px;
                    margin-bottom: 5px;
                    color: rgba(255, 255, 255, 0.85);
                }
                input {
                    border: solid 1px white;
                }
                #submitBtn {
                    -webkit-appearance: none;
                }
                #submitBtn:hover {
                    -webkit-appearance: none;
                }
            }
        }
    }
}

//med-small devices(ipad tablet and down)
@media (max-width: $breakpoint-large-tablet-1) {
    .container {
        width: 100%;
        padding: 0;
        margin: 0;
    }
    #splash {
        padding-bottom: 25vh;
        #ctaWrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            padding-top: 20vh;
            #ctaLeft {
                text-align: left;
                padding-top: 30px;
                margin-bottom: 7vh;
                h2 {
                    font-size: 50px;
                    margin-bottom: 20px;
                    font-weight: 400;
                }
                p {
                    font-size: 33px;
                    text-indent: 2vw;
                    font-weight: 600;
                }
            }
            #ctaRight {
                form {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    label {
                        font-size: 22px;
                    }
                    input {
                        font-family: $font-family-sans-serif;
                        margin-bottom: 10px;
                        border-radius: 5px;

                        padding: 10px 10px;
                        width: 250px;
                        font-weight: 500;
                        font-size: 18px;
                    }
                    #submitBtn {
                        background-color: $green;
                        color: white;
                        border: none;
                        box-shadow: $splashBtnShadow;
                    }
                    #submitBtn:hover {
                        background-color: $bgGreenHover;
                        box-shadow: $standardBoxShadow;
                    }
                    #success {
                        padding: 10px 10px;
                        width: 250px;
                    }
                }
            }
        }
    }
}

//large devices
@media (min-width: $breakpoint-large-tablet) {
    #splash {
        width: 100%;
        #ctaWrapper {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            padding: 45vh 0 40vh 0;
            #ctaLeft {
                padding-top: 20px;
                h2 {
                    font-size: 70px;
                    margin-bottom: 20px;
                    font-weight: 400;
                }
                p {
                    font-size: 50px;
                    text-indent: 5vw;
                    font-weight: 600;
                }
            }
            #ctaRight {
                form {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    label {
                        font-size: 22px;
                    }
                    input {
                        font-family: $font-family-sans-serif;
                        margin-bottom: 10px;
                        border-radius: 5px;
                        padding: 10px 10px;
                        width: 250px;
                        font-weight: 500;
                        font-size: 18px;
                    }
                    #submitBtn {
                        background-color: $green;
                        color: white;
                        border: none;
                        box-shadow: $splashBtnShadow;
                    }
                    #submitBtn:hover {
                        background-color: $bgGreenHover;
                        box-shadow: $standardBoxShadow;
                    }
                    #success {
                        padding: 10px 10px;
                        margin-bottom: 10px;
                        width: 250px;
                    }
                }
            }
        }
    }
    #svgWrapTop {
        overflow: hidden;
        margin-bottom: -20px;
        #splashSvgStart {
            width: 120%;
        }
    }
    #svgWrapBottom {
        overflow: hidden;

        #splashSvgEnd {
            transform: scale(-1, -1);
            width: 120%;
        }
    }
}
#svgWrapTop {
    overflow: hidden;
    margin-bottom: -20px;
    #splashSvgStart {
    }
}
#svgWrapBottom {
    overflow: hidden;

    #splashSvgEnd {
        transform: scale(-1, -1);
    }
}
