//Media Breakpoints
$breakpoint-xxs: 376px;
$breakpoint-xxs-plus-1: 376px;
$breakpoint-phone: 500px;
$breakpoint-phone-plus-1: 501px;
$breakpoint-tablet: 768px;
$breakpoint-large-tablet-1: 1023px;
$breakpoint-large-tablet: 1024px;
$breakpoint-monitor: 1280px;

// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Montserrat", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$white: #ffffff;
$blue: #7ad9f5;
$red: #ff0000;
$green: #6be493;
$green75: #6be493b0;
$fontLightGrey100: #8f8f8f;
$fontGrey100: #707070;
$fontDarkGrey75: #5a5a5acb;
$fontDarkGrey100: #5a5a5a;
$darkGreyBg: #00000025;
$otherblue: rgba(122, 217, 245, 0.1);

//hovers
$greenBtnHover: #6be493ef;
//Bg colors
$bgBlue: #7ad9f5;
$bgGreenHover: #6be47f;

//font weights
$semiBold: 600;

//box shadows
$standardBoxShadow: 1px 2px 6px rgba(0, 0, 0, 0.233);
$splashBtnShadow: 2px 3px 10px rgba(0, 0, 0, 0.233);
