//Media Breakpoints
$breakpoint-phone: 375px;
$breakpoint-tablet: 768px;
$breakpoint-large-tablet-1: 1023px;
$breakpoint-large-tablet: 1024px;
$breakpoint-monitor: 1280px;

// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Montserrat", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$white: #ffffff;
$blue: #7ad9f5;
$green: #6be493;
$fontGrey100: #707070;

//Bg colors
$bgBlue: #7ad9f5;
$bgGreenHover: #6be47f;

//font weights
$semiBold: 600;

//box shadows
$standardBoxShadow: 1px 1px 6px rgba(0, 0, 0, 16%);
$splashBtnShadow: 2px 4px 10px rgba(0, 0, 0, 16%);
