// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Montserrat", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #7ad9f5;
$green: #6be493;
$fontGrey100: #707070;
