// Fonts
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap");

//reset
@import "reset";

// Variables
@import "variables";

//Hero Landing
@import "hero";

//Navbar
@import "navbar";

//Splash
@import "splash";

//Design,Develop,Deploy
@import "ddd";

//Servies
@import "service";

// Bootstrap
//@import "~bootstrap/scss/bootstrap"; -->for all of bootstrap
/*
// Required bootstrap plugins //https://getbootstrap.com/docs/4.0/getting-started/theming/
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

@import "node_modules/bootstrap/scss/grid"; // --> just for grid, must have required plugins
*/

body {
    font-family: $font-family-sans-serif;

    min-height: 200vh;
    color: $fontGrey100;
}
