@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;

0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap);html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

nav #navWrapper #navLinks a {
  color: #707070;
  text-decoration: none;
}

@media (max-width: 1023px) {
  nav {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    background-color: #7ad9f5;
  }

  nav #navWrapper {
    padding: 2.5vh 5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  nav #navWrapper #logo {
    color: white;
    font-size: 30px;
    font-weight: bold;
    z-index: 4;
  }

  nav #navWrapper #hamburger {
    -webkit-user-select: none;
    -moz-user-select: none;
     -ms-user-select: none;
         user-select: none;
    height: 40px;
    width: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
  }

  nav #navWrapper #hamburger #menuToggle {
    display: block;
    width: 70px;
    height: 50px;
    position: fixed;
    top: 1.5vh;
    right: 4.2vw;
    opacity: 0;
    z-index: 99;
    -webkit-touch-callout: none;
  }

  nav #navWrapper #hamburger span {
    display: block;
    margin-bottom: 5px;
    width: 33px;
    height: 5px;
    border-radius: 5px;
    background-color: #ffffff;
    z-index: 4;
    transform-origin: 2px 3px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }

  nav #navWrapper #hamburger span:first-child {
    transform-origin: 0% 0%;
  }

  nav #navWrapper #hamburger span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  nav #navWrapper #hamburger input:checked ~ span {
    opacity: 1;
    transform: rotate(-45deg);
    background: #ffffff;
  }

  nav #navWrapper #hamburger input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  nav #navWrapper #hamburger input:checked ~ span:nth-last-child(4) {
    transform: rotate(45deg) translate(-2px, 0px);
  }

  nav #navWrapper #hamburger input:checked ~ #navLinkWrapper {
    transform: none !important;
  }

  nav #navWrapper #navLinkWrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 2;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    transform-origin: 0% 0%;
    transform: translate(200%, -100%);
    transition: 0.5s;
  }

  nav #navWrapper #navLinkWrapper #navLinks {
    background-color: #7ad9f5;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 5vh;
  }

  nav #navWrapper #navLinkWrapper #navLinks a {
    color: #ffffff;
    margin: 7vh 0;
    font-size: 30px;
    font-weight: 500;
    padding-bottom: 5px;
    border-bottom: solid 2px #ffffff;
    border-radius: 3px;
  }
}

@media (min-width: 1024px) {
  nav {
    padding: 5vh 0;
  }

  nav #navWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  nav #navWrapper #logo {
    font-size: 30px;
  }

  nav #navWrapper #hamburger #navLinks a {
    margin-left: 30px;
    font-size: 28px;
  }

  nav #navWrapper #hamburger #navLinks a:hover {
    transition: 0.1s;
    border-bottom: solid 3px #7ad9f5;
  }

  nav #navWrapper #hamburger input,
  nav #navWrapper span {
    display: none;
  }
}

#splash {
  min-height: 100vh;
  background-color: #7ad9f5;
}

body {
  font-family: "Montserrat", sans-serif;
  padding: 0 10vw;
  min-height: 200vh;
  color: #707070;
}

